footer {
  .social-links {
    .icon {
      i {
        color: $text-color;
        font-size: 1rem;
        border: 2px solid $text-color;
        border-radius: 50%;
        padding: 0.34rem 0.5rem;
        margin: 0 0.3rem;
        cursor: pointer;
        &:hover {
          color: $Soft;
          border: 2px solid $Soft;
        }
      }
    }
  }
  @media (min-width: 1440px) {
    width: 100%;
    position: relative;
    .social-links {
      position: absolute;
      right: 4%;
    }
  }
  @media (min-width: 375px) and (max-width: 1440px) {
    position: relative;
    margin: 1rem auto;
    display: block;
    width: 100%;
    text-align: center;
  }
}
